ol,
ul {
  margin-bottom: 0;
  list-style: none;
}
.color {
  color: #1663f1;
}
.color-f3 {
  color: #FD5353;
}
.color-ff {
  color: #fff;
}
.color-33 {
  color: #263a4f;
}
.background-ff {
  background: #fff;
}
.background-none {
  background: #fff;
}
.box-shadow {
  box-shadow: -0.3125rem -0.3125rem 0.3125rem rgba(0, 0, 0, 0.05), 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.05);
}
.split {
  overflow: inherit;
}
.maxwidth40 {
  max-width: 2.5rem;
}
.maxwidth60 {
  max-width: 3.75rem;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
.box-shadow-input {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
}
.box-shadow-date {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.border {
  border: 1px solid #dcdfe6;
}
.border-radius {
  border-radius: 4px;
}
.border-right {
  border-right: 1px solid #eee;
}
.background-e0 {
  background: #e0e5ed;
}
button {
  outline: none;
  font-size: 1.125rem;
}
.btn {
  min-width: 5rem;
  padding: 0.625rem 0.9375rem 0.625rem;
  font-size: 1rem;
  height: 2.75rem;
  background: transparent;
  box-sizing: border-box;
  line-height: 100%;
}
/*
*小型按钮
*/
[data-type=default] {
  color: #263a4f;
}
[data-type=default]:hover {
  color: rgba(72, 76, 127, 0.8);
}
[data-type=info] {
  color: #263a4f;
}
[data-type=info]:hover {
  color: rgba(72, 76, 127, 0.8);
}
[data-type=primary] {
  color: #1663f1;
}
[data-type=primary]:hover {
  color: rgba(22, 99, 241, 0.7);
}
[data-type=warning] {
  color: #e6a23c;
}
[data-type=warning]:hover {
  color: rgba(230, 162, 60, 0.71);
}
[data-type=danger] {
  color: #FD5353;
}
[data-type=danger]:hover {
  color: #f78989;
}
[data-type=success] {
  color: #09BD3C;
}
[data-type=success]:hover {
  color: #85ce61;
}
[data-type=disable] {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: transparent;
  border-color: #e4e7ed;
  position: relative;
}
[data-type=disable] .fa {
  color: #c0c4cc;
  cursor: unset;
  background-image: none;
}
[data-type=primary][normal] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][normal]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][normal][round] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][normal][round]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain]:hover {
  color: #fff;
  background: #1663f1;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain][round]:hover {
  color: #fff;
  background: #1663f1;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][plain] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][plain]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][plain][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][plain][round]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][normal] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][normal]:hover {
  color: #1663f1;
  background: #ecf5ff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][normal][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][normal][round]:hover {
  color: #1663f1;
  background: #ecf5ff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][normal] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 4px;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][normal]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][normal][round] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 20px;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][normal][round]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][plain] {
  color: #606266;
  border: 1px solid #606266;
  border-radius: 4px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][plain]:hover {
  color: #606266;
  background: #f5f7fa;
  border: 1px solid #606266;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain][round] {
  color: #606266;
  border: 1px solid #606266;
  border-radius: 20px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain][round]:hover {
  color: #606266;
  background: #f5f7fa;
  border: 1px solid #606266;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][normal] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 4px;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][normal]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][normal][round] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 20px;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][normal][round]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][plain] {
  color: #e6a23c;
  border: 1px solid #e6a23c;
  border-radius: 4px;
  background: #fdf6ec;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][plain]:hover {
  color: #fff;
  background: #e6a23c;
  border: 1px solid #e6a23c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][plain][round] {
  color: #e6a23c;
  border: 1px solid #e6a23c;
  border-radius: 20px;
  background: #fdf6ec;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][plain][round]:hover {
  color: #fff;
  background: #e6a23c;
  border: 1px solid #e6a23c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][normal] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][normal]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][normal][round] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 20px;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][normal][round]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][plain] {
  color: #FD5353;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: #fef0f0;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][plain]:hover {
  color: #fff;
  background: #FD5353;
  border: 1px solid #FD5353;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][plain][round] {
  color: #FD5353;
  border: 1px solid #FD5353;
  border-radius: 20px;
  background: #fef0f0;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][plain][round]:hover {
  color: #fff;
  background: #FD5353;
  border: 1px solid #FD5353;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][normal] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 4px;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][normal]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][normal][round] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 20px;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][normal][round]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][plain] {
  color: #09BD3C;
  border: 1px solid #09BD3C;
  border-radius: 4px;
  background: #f0f9eb;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][plain]:hover {
  color: #fff;
  background: #09BD3C;
  border: 1px solid #09BD3C;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][plain][round] {
  color: #09BD3C;
  border: 1px solid #09BD3C;
  border-radius: 20px;
  background: #f0f9eb;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][plain][round]:hover {
  color: #fff;
  background: #09BD3C;
  border: 1px solid #09BD3C;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=disabled][normal],
[data-type=disabled][plain] {
  display: inline-block;
  font-size: 0.75rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #c0c4cc;
  border: 1px solid #e4e7ed;
  border-radius: 0.25rem;
  padding: 0.5rem 0.3125rem;
  background: #f5f7fa;
  cursor: unset;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][circle] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=default][circle]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][circle] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 50%;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=primary][circle]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][circle] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 50%;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=info][circle]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][circle] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 50%;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=warning][circle]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][circle] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 50%;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=danger][circle]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][circle] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 50%;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=success][circle]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.btn-group .btn {
  min-width: 2.25rem;
  border: 1px solid #eee !important;
  height: 2.5rem;
  line-height: 1.25rem;
}
.background-theme1 {
  background: url("/images/theme/slider-bar.png") no-repeat center top;
  background-size: 100% 100%;
}
:root {
  --theme-f2: #00a1ff;
}
.theme-dark {
  color: #a8c6ef;
}
.theme-dark .background-ff {
  background: #0b3b84;
}
.theme-dark .background-none {
  background: transparent;
}
.theme-dark .split-balance {
  background: transparent;
}
.theme-dark h3,
.theme-dark h4,
.theme-dark .table-skin {
  color: #a8c6ef;
}
.theme-dark a {
  color: #00ffff;
}
.theme-dark a:focus {
  color: #fdbc03;
}
.theme-dark a:hover {
  color: #fdbc03;
}
.theme-dark.land-bg {
  background: url("/images/login_bg.jpg") center top no-repeat;
  background-size: cover;
}
.theme-dark .system-entry {
  background: rgba(0, 162, 255, 0.11764706);
}
.theme-dark .system-entry:hover {
  background: #184086;
  color: #ffffff;
}
.theme-dark .contentwrapper-holder {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .header_control {
  color: #fff;
}
.theme-dark .stackmenuHolder {
  height: calc(100% - 3rem) !important;
  scrollbar-color: #2b3b4b #001529;
  scrollbar-width: none;
  overflow: auto;
}
.theme-dark .stackmenu-cell {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  position: relative;
}
.theme-dark .stackmenu-cell .fa-classic,
.theme-dark .stackmenu-cell .fa-light,
.theme-dark .stackmenu-cell .fa-regular,
.theme-dark .stackmenu-cell .fa-solid,
.theme-dark .stackmenu-cell .fa-thin,
.theme-dark .stackmenu-cell .fal,
.theme-dark .stackmenu-cell .far,
.theme-dark .stackmenu-cell .fas,
.theme-dark .stackmenu-cell .fat {
  color: #fff;
}
.theme-dark .stackmenu-cell .stakmenu-bg {
  padding: 2rem 1rem 1rem;
  background: url("/images/theme/slider-bar.png") no-repeat center top;
  background-size: 100% 100%;
  overflow: auto;
}
.theme-dark .account-menu {
  background: #081f58;
  box-shadow: -5px 2px 5px #081f58, 5px 5px 10px #000;
  top: 5.625rem;
}
.theme-dark .header_info a {
  color: rgba(255, 255, 255, 0.8) !important;
}
.theme-dark .header_info a i {
  color: #fff !important;
}
.theme-dark .header_info a:hover {
  background: rgba(0, 162, 255, 0.11764706) !important;
  box-shadow: -5px 2px 5px #333, 5px 5px 10px #000;
  color: #ffffff;
}
.theme-dark .header_info a:hover i {
  color: #fff !important;
}
.theme-dark .nav-active {
  background: rgba(0, 162, 255, 0.11764706) !important;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.theme-dark .header_nav .header_nav_inner .nav-item:hover {
  color: #081f58 !important;
  border: 1px solid rgba(0, 162, 255, 0.11764706) !important;
}
.theme-dark .header_nav .header_nav_inner .nav-item .nav-close {
  color: #081f58;
}
.theme-dark .header_nav .header_nav_inner .nav-item .nav-title {
  color: #081f58;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected {
  background: rgba(0, 162, 255, 0.11764706);
  border: 1px solid rgba(0, 162, 255, 0.11764706) !important;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected .nav-title {
  color: #fff !important;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected:hover {
  color: #fff !important;
  border: 1px solid rgba(0, 162, 255, 0.11764706) !important;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected .nav-close {
  color: #fff !important;
}
.theme-dark .record-view {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}
.theme-dark .operation-icons a {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .stackmenu {
  color: #fff;
}
.theme-dark .stackmenu .menu-node {
  width: 96%;
  margin: 0 auto;
}
.theme-dark .stackmenu .branch {
  padding: 0.9375rem 0 0.9375rem 0.75rem;
  border-left: 0;
}
.theme-dark .stackmenu .branch:hover {
  border-left-color: inherit;
}
.theme-dark .stackmenu .branch:hover .menu-label {
  color: #5e95ff;
}
.theme-dark .stackmenu .leaf {
  padding: 0.75rem 0 0.75rem 0.625rem;
  border-left: 0;
}
.theme-dark .stackmenu .leaf:hover .menu-label {
  color: #5e95ff;
  font-weight: bold;
}
.theme-dark .stackmenu .leaf.leaf-selected {
  box-shadow: inherit;
}
.theme-dark .stackmenu .leaf-selected {
  background: linear-gradient(90deg, #00a1ff 0%, #00ddff 100%);
  border-left-color: inherit;
  font-weight: bold;
  box-shadow: inherit;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
}
.theme-dark .stackmenu .leaf-selected:hover {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0.75rem;
}
.theme-dark .stackmenu .branch-selected {
  background: linear-gradient(90deg, #00a1ff 0%, #00ddff 100%);
  position: relative;
  color: #fff;
  box-shadow: inherit;
}
.theme-dark .stackmenu .branch-selected:hover {
  color: #fff;
  transition: inherit;
}
.theme-dark .background-logo {
  background: #081f58;
  color: #a8c6ef;
  font-size: 2rem;
  box-shadow: inherit;
  z-index: 100;
}
.theme-dark .background-header {
  background: #081f58;
}
.theme-dark .background-header .nav-list {
  color: #fff;
  display: flex;
  /* float: left; */
  grid-row-gap: 1.25rem;
  align-items: center;
  grid-auto-flow: column;
}
.theme-dark .background-header .nav-list li {
  text-align: center;
  font-size: 1.375rem;
  cursor: pointer;
}
.theme-dark .background-header .nav-list li:hover {
  background: rgba(0, 162, 255, 0.11764706) !important;
  box-shadow: -1px 2px 10px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  transition: all 0.2s linear;
}
.theme-dark .header_info li {
  color: #fff;
}
.theme-dark .header_control li {
  color: #fff;
}
.theme-dark .calendar .chosen-date {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark .calendar .footer span:hover {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .cover-container .cover-header {
  background: #081f58;
  box-shadow: -0.3125rem -0.3125rem 1.25rem #0b3b84, 5px 5px 1.25rem #0b3b84;
}
.theme-dark .paginationControl {
  color: #fff;
}
.theme-dark .paginationControl .control .pageIndexBtn.pageIndexBtnCurrent {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  opacity: 1;
}
.theme-dark .paginationControl .control .pagination-option select {
  background: rgba(0, 162, 255, 0.16470588);
}
.theme-dark .paginationControl .pageSizeSelect {
  border: 1px solid #00a1ff;
}
.theme-dark .paginationControl .btn-info:hover {
  background-color: #fff;
  color: #5e95ff;
}
.theme-dark .paginationControl .redirectPageBtn {
  background-color: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  color: #fff;
}
.theme-dark .paginationControl .redirectPageBtn:hover {
  color: #fff;
}
.theme-dark .paginationControl .totalPageDis,
.theme-dark .paginationControl .totalAmountDis {
  color: #00a1ff;
}
.theme-dark .paginationControl .btn-group .btn {
  border: 1px solid #00a1ff !important;
  background: rgba(0, 162, 255, 0.16470588);
}
.theme-dark .paginationControl .btn-group .btn:hover {
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark .paginationControl .btn-group .btn .fa {
  color: #fff;
}
.theme-dark .paginationControl .info {
  color: #fff;
}
.theme-dark [data-bg=tab] {
  border: 1px solid #ebecf0;
}
.theme-dark [data-bg=tab] .tab-active:before {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .calendar-month,
.theme-dark .calendar-content {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark [data-type=primary] {
  color: #00a1ff;
}
.theme-dark [data-type=primary]:hover {
  color: #00a1ff;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark [data-type=primary][plain] {
  color: #00a1ff;
  border: 1px solid #00a1ff;
  border-radius: 4px;
  background: #081f58;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=primary][plain]:hover {
  color: #fff;
  background: rgba(0, 162, 255, 0.16470588);
  border: 1px solid #00a1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark [data-type=primary][normal] {
  color: #fff;
  border: 1px solid #00a1ff;
  border-radius: 4px;
  background: #00a1ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=primary][normal]:hover {
  color: #fff;
  background: #00a1ff;
  border: 1px solid #00a1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark [data-type=default][plain],
.theme-dark [data-type=default][normal] {
  color: #fff;
  border: 1px solid #00a1ff;
  border-radius: 4px;
  background: transparent;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=default][plain]:hover,
.theme-dark [data-type=default][normal]:hover {
  color: #fff;
  background: transparent;
  border: 1px solid rgba(0, 162, 255, 0.11764706);
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark [data-type=default][plain][round],
.theme-dark [data-type=default][normal][round] {
  color: #fff;
  border: 1px solid rgba(0, 162, 255, 0.11764706);
  border-radius: 20px;
  background: transparent;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=default][plain][round]:hover,
.theme-dark [data-type=default][normal][round]:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #00a1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-dark [data-type=warning][plain],
.theme-dark [data-type=warning][normal] {
  color: #00a1ff;
  border: 1px solid #00a1ff;
  border-radius: 4px;
  background: rgba(0, 162, 255, 0.11764706);
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=warning][plain]:hover,
.theme-dark [data-type=warning][normal]:hover {
  color: #00a1ff;
  background: rgba(0, 162, 255, 0.11764706);
  border: 1px solid rgba(0, 162, 255, 0.11764706);
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark [data-type=danger][normal] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=danger][normal]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-dark [data-type=danger][plain] {
  color: #FD5353;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: transparent;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-dark [data-type=danger][plain]:hover {
  color: #FD5353;
  background: transparent;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 0 0.625rem #FD5353;
}
.theme-dark [data-type=default] {
  color: #a8c6ef;
}
.theme-dark [data-type=default]:hover {
  color: #00ffff;
}
.theme-dark .header_nav_wrap .shift-left:hover {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .header_nav_wrap .shift-right:hover {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .shift-left .shift-month .duty-group {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark .pitchon {
  background: #f5f7fa;
}
.theme-dark .pitchon span {
  color: #081f58 !important;
}
.theme-dark .tree {
  background: transparent;
}
.theme-dark .tree .branch {
  color: #a8c6ef;
  border-color: transparent;
}
.theme-dark .tree .branch:hover {
  color: #00ffff;
  border-color: transparent;
}
.theme-dark .tree .branch:hover .menu-label {
  color: #00ffff;
}
.theme-dark .tree .pad .childs .branch {
  background: #0b3b84 !important;
  color: #a8c6ef !important;
}
.theme-dark .tree .pad .childs .branch .menu-label {
  color: #a8c6ef;
}
.theme-dark .tree .menu-node .actived-node .pad .branch {
  background: #0b3b84;
  color: #a8c6ef;
}
.theme-dark .tree .menu-node .actived-node .pad .branch .menu-label {
  color: #a8c6ef;
}
.theme-dark .tree .menu-node .menu-label {
  color: #a8c6ef;
  padding-left: 0.625rem;
}
.theme-dark .tree .leaf:hover {
  color: #081f58;
  border-left-color: #081f58;
}
.theme-dark .tree .leaf:hover .menu-label {
  color: #081f58;
}
.theme-dark .tree .non-selected .leaf {
  background: transparent !important;
  color: #00ffff;
  border-left: 0;
}
.theme-dark .tree .non-selected .leaf:hover {
  color: #00ffff;
}
.theme-dark .tree .non-selected .leaf:hover .menu-label {
  color: #00ffff;
}
.theme-dark .tree .msgHolder {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark .tree .actived-node .leaf {
  color: #a8c6ef;
  background: rgba(0, 162, 255, 0.11764706) !important;
}
.theme-dark .tree .actived-node .leaf .pad .menu-label {
  color: #00ffff;
}
.theme-dark .tree .branch-selected {
  background: linear-gradient(90deg, #00a1ff 0%, #00ddff 100%);
  color: #fff;
}
.theme-dark .tree .branch-selected:hover {
  color: #00ffff;
}
.theme-dark .tree .branch-selected .menu-label {
  color: #00ffff;
}
.theme-dark input[type="checkbox"]::before {
  background: #0b3b84;
  border-color: #00a1ff;
}
.theme-dark input[type="checkbox"]:checked::before {
  background-color: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  border: 1px solid #00a1ff;
}
.theme-dark input[type="checkbox"].selectAll:checked::before {
  border: 1px solid #00a1ff;
}
.theme-dark .switch-wrapper .switch-actived {
  border-color: #081f58;
  background-color: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .active {
  color: #00ffff !important;
}
.theme-dark .radio-wrapper .radio-item .radio-input.checked {
  background: #0b3b84;
  border: 1px solid #00a1ff;
}
.theme-dark .fa-remove {
  -webkit-text-stroke: 0 #fff;
}
.theme-dark .fa-window-maximize {
  -webkit-text-stroke: 0 #fff;
}
.theme-dark .fa-window-restore {
  -webkit-text-stroke: 0 #fff;
}
.theme-dark .content-holder {
  background: transparent;
  padding: 3.75rem 0 0;
  overflow: hidden;
}
.theme-dark .skin.content {
  background: url("/images/theme/view-bg.png") center no-repeat !important;
  background-size: 100% 100% !important;
  padding: 1.25rem 1.25rem 0.625rem;
}
.theme-dark .skin.content::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.theme-dark .skin.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  border-radius: 1px;
  display: none;
}
.theme-dark .skin.content::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}
.theme-dark .skin.content::-webkit-scrollbar-button {
  background-color: #ffffff;
}
.theme-dark .skin.content::-webkit-scrollbar-corner {
  background: #ffffff;
}
.theme-dark .skin.content::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.theme-dark .staContainer .staTitle {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark .leftmenu {
  background: transparent !important;
}
.theme-dark .msgHolder {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%) !important;
}
.theme-dark .dropdown-wrapper input[type="text"]:hover {
  border-color: #00a1ff;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark .dropdown-wrapper ul li {
  color: #00a1ff;
}
.theme-dark .dropdown-wrapper ul li.selected {
  background: #0b3b84;
  color: #fff;
}
.theme-dark .dropdown-wrapper ul li:hover {
  background: #0f479b !important;
  transition: background cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.theme-dark .dropdown-wrapper ul li:hover .label-txt {
  color: white;
}
.theme-dark .show-message {
  background: #0b3b84;
  padding: 0.625rem 1.25rem;
  border: 1px solid #00a1ff;
  border-radius: 5px;
  color: #fff;
  position: relative;
  font-size: 1rem;
  line-height: 1.375rem;
  pointer-events: none;
  max-width: 100%;
  box-shadow: -0.3125rem -0.3125rem 0.3125rem rgba(0, 0, 0, 0.05), 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.05);
}
.theme-dark .show-message:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-top: 0.625rem solid #00a1ff;
  position: absolute;
  bottom: -0.5625rem;
  z-index: 999;
  left: 0.1875rem;
}
.theme-dark .checkbox-wrapper .checkbox-item .checkbox-input.checked {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  border: 1px solid #081f58;
}
.theme-dark .palette-block .palette-item:hover {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .data-block-wrapper .block-control {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .data-block-wrapper .editable:hover {
  border: 1px dashed #081f58;
}
.theme-dark .data-block-wrapper.actived {
  outline: 2px solid #081f58;
}
.theme-dark .data-block-ctrl .form-btn {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
  border: 1px solid #081f58;
}
.theme-dark .data-block-ctrl .form-btn:hover {
  background: #081f58;
}
.theme-dark .links-block label:hover {
  color: #00ffff;
}
.theme-dark ::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: rgba(0, 0, 0, 0.3);
  min-height: 6.25rem;
}
.theme-dark .header-holder {
  height: 5.625rem;
  line-height: 5.625rem;
  background: #081f58;
}
.theme-dark .logo {
  height: 5.5625rem;
}
.theme-dark .menuHolder {
  border-right: 0;
  padding: 1rem 0 0.375rem !important;
}
.theme-dark .header-top {
  height: 5.625rem;
}
.theme-dark .header-top .nav-list > li {
  line-height: 5.625rem;
}
.theme-dark .header_control li {
  height: 5.625rem;
  display: flex;
  align-items: center;
}
.theme-dark .header_info li {
  line-height: 5.625rem;
}
.theme-dark .normal .leaf {
  margin: 0.2rem 0;
  border-radius: 0;
  border-left: 0;
  background: transparent !important;
  color: #a8c6ef;
}
.theme-dark .normal .leaf:hover {
  color: #00ffff;
}
.theme-dark .normal .leaf .node-item:hover {
  color: #00ffff;
}
.theme-dark .normal .branch .icon-holder {
  margin-left: 1.5rem !important;
  margin-right: 1rem !important;
}
.theme-dark .normal .leaf .icon-holder {
  margin-left: 1.5rem !important;
  margin-right: 0.5rem !important;
}
.theme-dark .minimize .branch {
  padding: 0.75rem 0 0.75rem 0 !important;
  border-left: 0;
}
.theme-dark .btn-info.disabled.focus,
.theme-dark .btn-info.disabled:focus,
.theme-dark .btn-info.disabled:hover,
.theme-dark .btn-info[disabled].focus,
.theme-dark .btn-info[disabled]:focus,
.theme-dark .btn-info[disabled]:hover,
.theme-dark fieldset[disabled] .btn-info.focus,
.theme-dark fieldset[disabled] .btn-info:focus,
.theme-dark fieldset[disabled] .btn-info:hover {
  background-color: rgba(0, 162, 255, 0.11764706);
  border-color: rgba(0, 162, 255, 0.11764706);
  color: #fff;
}
.theme-dark .floatmsg-container > .header {
  background: linear-gradient(180deg, #09164d 0%, #06080d 100%);
}
.theme-dark .form-item-public .form-label {
  color: #a8c6ef;
}
.theme-dark .form-control {
  background-color: #0b3b84;
  border: 1px solid #00a1ff;
  color: #fff;
}
.theme-dark .form-control:focus {
  border: 1px solid #00a1ff;
  box-shadow: 0 0 0.625rem #00a1ff;
}
.theme-dark .input-wrapper .text-count-wrap .quick-clear {
  color: #fff;
}
.theme-dark .dropdown-wrapper input[type="text"] {
  background: #0f479b;
}
.theme-dark .select-icon .fa-solid {
  color: #fff;
}
.theme-dark .dropdown-wrapper ul {
  background: #0b3b84;
  border: 1px solid #00a1ff;
  border-top: 0;
}
.theme-dark [border] .form-item-public .form-label {
  border: 1px solid #00a1ff;
  border-radius: 2px 0 0 2px;
  background-color: transparent;
  border-right: 0;
}
.theme-dark [border] .form-item-public .switch-wrapper,
.theme-dark [border] .form-item-public .radio-wrapper,
.theme-dark [border] .form-item-public .file-wrapper,
.theme-dark [border] .form-item-public .img-wrapper,
.theme-dark [border] .form-item-public .colorpicker-wrapper,
.theme-dark [border] .form-item-public .checkbox-wrapper {
  border: 1px solid #00a1ff;
  color: #a8c6ef;
  background: #0b3b84;
  padding-left: 0.75rem;
}
.theme-dark [border] .form-item-public.form-label-text .form-label {
  border-right: 1px solid #00a1ff;
}
.theme-dark [border] .form-item-public .readonly {
  border: 1px solid #00a1ff;
}
.theme-dark [border] .form-item-public .footer span {
  border: 1px solid #00a1ff;
}
.theme-dark .cards .cards-item .card-content {
  background: rgba(0, 162, 255, 0.11764706);
}
.theme-dark .cards .cards-item .card-content .fa-navicon {
  color: #fff;
}
.theme-dark .cards .cards-item .card-content:hover {
  background: #0f479b;
}
.theme-dark .card-title label {
  color: #fff;
}
.theme-dark .card-title span {
  color: #fff;
}
.theme-dark .card-title-flex label {
  color: #fff;
}
.theme-dark .card-title-flex span {
  color: #fff;
}
.theme-dark .grid-box i {
  color: #00a1ff;
}
.theme-dark .header_nav .header_nav_inner .nav-item {
  background: rgba(0, 162, 255, 0.16470588);
  border: 1px solid rgba(0, 162, 255, 0.16470588);
}
.theme-dark .header_nav .header_nav_inner .nav-item:hover {
  color: rgba(0, 162, 255, 0.16470588);
  border: 1px solid #00a1ff;
}
.theme-dark .header_nav .header_nav_inner .nav-item .nav-title {
  color: #00a1ff;
}
.theme-dark .header_nav .header_nav_inner .nav-item .nav-close {
  color: #00a1ff;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected {
  background: linear-gradient(90deg, #00a1ff 0%, #00ddff 100%);
  position: relative;
  color: #fff;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected .nav-title {
  color: #fff;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected .nav-close {
  color: #fff;
}
.theme-dark .header_nav .header_nav_inner .nav-item.selected:before {
  background: transparent;
}
.theme-dark .header_nav_wrap {
  background: #081f58;
  box-shadow: -0.3125rem -0.3125rem 1.25rem #0b3b84, 5px 5px 1.25rem #0b3b84;
}
.theme-dark .header_nav_wrap i {
  color: #fdbc03;
}
.theme-dark .light-pot {
  padding-top: 5.625rem;
}
.theme-dark .cover-container .modal-container-wrap {
  background: #081f58;
}
.theme-dark .drawerBody .form-body > .footer {
  background: transparent;
  border-top: 1px solid #00a1ff;
}
.theme-dark .drawerBody .form-footer {
  background: #081f58;
}
.theme-dark .disabled {
  background: rgba(0, 162, 255, 0.2) !important;
  pointer-events: none;
  background-clip: content-box !important;
}
.theme-dark .img-wrapper.disabled {
  background: rgba(0, 162, 255, 0.2) !important;
  pointer-events: all;
  background-clip: content-box !important;
}
.theme-dark .video-wrapper.disabled {
  background: rgba(0, 162, 255, 0.2) !important;
  pointer-events: all;
  background-clip: content-box !important;
}
.theme-dark .region-wrapper.disabled input {
  background: transparent !important;
  pointer-events: none;
  background-clip: content-box !important;
}
.theme-dark .server-detail:before {
  background: #00a1ff;
  width: 1px;
}
.theme-dark .tabHolder {
  background: transparent !important;
}
.theme-dark .tabHolder .tab-nav-item {
  color: #a8c6ef;
}
.theme-dark .tabHolder .tab-nav-item:hover {
  color: #fdbc03;
}
.theme-dark .tabHolder .tab-nav-active:before {
  background: #00ffff;
}
.theme-dark .alert-div .alert-content {
  color: #fff;
}
.theme-dark ::-webkit-input-placeholder {
  color: #a8c6ef;
}
.theme-dark .table-body {
  padding: 0.75rem;
  max-height: 100%;
  position: relative;
  /*
    *
    *滚动条阴影
    */
}
.theme-dark .table-body .row {
  margin: 0;
  border-bottom: 1px solid #00a1ff;
  text-align: left;
  overflow: hidden;
  color: #fff;
}
.theme-dark .table-body .row .table-left {
  text-align: left;
  padding-left: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.theme-dark .table-body .row:hover {
  background: rgba(0, 162, 255, 0.2);
  transition: 0.2s ease-in-out;
}
.theme-dark .table-body .row.datas-columns {
  overflow: auto;
  background-color: rgba(0, 162, 255, 0.2);
  line-height: 3rem;
  position: relative;
  padding: 0.375rem 0 0.375rem 3.75rem;
}
.theme-dark .table-body .row.datas-columns [class*=col-xs-] {
  padding-left: 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.theme-dark .table-body .row.datas-columns [class*=col-xs-].text-center {
  padding-left: 0 !important;
}
.theme-dark .table-body .row.datas-columns [class*=col-xs-] .switch-wrapper .switch-wrapper-btn {
  margin-top: 0 !important;
}
.theme-dark .table-body .row.datas-columns .maxwidth60 {
  position: absolute;
  left: 0;
  padding-left: 0;
  text-align: center;
  width: 3.75rem;
}
.theme-dark .table-body .hand [class*=col-xs-] {
  line-height: 2rem;
  min-height: 2rem;
  height: 2rem;
  font-size: 1.125rem;
}
.theme-dark .table-body .datas {
  overflow-y: auto;
}
.theme-dark .table-body .datas [class*=col-xs-] {
  line-height: 100%;
  font-size: 1.125rem;
}
.theme-dark .table-body .datas [class*=col-xs-].text-center {
  padding-left: 0 !important;
}
.theme-dark .table-body .datas [class*=col-xs-] .btn {
  min-width: 3rem;
  line-height: 1.25rem;
  min-height: 2rem;
}
.theme-dark .table-body .datas [class*=col-xs-] button {
  margin: 0 0.1875rem;
}
.theme-dark .table-body .datas [class*=col-xs-] .switch-wrapper {
  padding-top: 0.3125rem;
}
.theme-dark .table-body .datas .row {
  padding-left: 3.75rem;
  position: relative;
  display: flex;
  align-items: stretch;
  color: #a8c6ef;
}
.theme-dark .table-body .datas .row [class*=col-xs-] {
  padding-left: 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 3rem;
}
.theme-dark .table-body .datas .row .text-center {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-dark .table-body .datas .row .maxwidth60 {
  position: absolute;
  left: 0;
  padding-left: 0;
  text-align: center;
  width: 3.75rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-dark .table-body .datas .hand {
  border-left: 0;
}
.theme-dark .table-body .datas .hand [class*=col-xs-] {
  border-right: 0;
  line-height: 2rem;
  height: 2rem;
  padding: 0;
}
.theme-dark .table-body .datas .hand span {
  padding: 0;
  border: 0;
}
.theme-dark .table-body .shadow-right {
  box-shadow: inset -30px 0 20px -20px #0b3b84, inset 30px 0 30px -20px #0b3b84;
}
.theme-dark .table-body .shadow-left {
  box-shadow: inset 30px 0 30px -20px #0b3b84, inset -30px 0 20px -20px #0b3b84;
}
.theme-dark .table-body .box-right {
  box-shadow: inset -10px 0 10px -10px #0b3b84, inset 10px 0 10px -10px #0b3b84;
}
.theme-dark .table-body .box-left {
  box-shadow: inset 10px 0 10px -10px #0b3b84, inset -10px 0 10px -10px #0b3b84;
}
.theme-dark .table-body .container {
  margin: 0;
  min-width: 93.75rem;
  width: auto;
  padding: 0;
}
.theme-dark .table-body[border] .datas-columns {
  border: 1px solid #00a1ff;
  border-right: 0;
  padding: 0 0 0 3.75rem;
  position: relative;
}
.theme-dark .table-body[border] .datas-columns [class*=col-xs-] {
  border-right: 1px solid #00a1ff;
  border-bottom: 0;
  padding-left: 0.9375rem;
}
.theme-dark .table-body[border] .datas-columns .maxwidth60 {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0;
  width: 3.75rem;
  line-height: 100% ;
  text-align: center;
  border-right: 1px solid #00a1ff;
  height: 100%;
}
.theme-dark .table-body[border] .datas .row {
  padding: 0 0 0 3.75rem;
  position: relative;
  border-left: 1px solid #00a1ff;
}
.theme-dark .table-body[border] .datas .row [class*=col-xs-] {
  border-right: 1px solid #00a1ff;
  border-top: 0;
  padding-left: 0.9375rem;
  display: flex;
  align-items: center;
}
.theme-dark .table-body[border] .datas .row .maxwidth60 {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.75rem;
  border-right: 1px solid #00a1ff;
  text-align: center;
  height: 100%;
  line-height: 100%;
  padding: 0.375rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-dark .table-body[border] .datas .hand {
  border-left: 0;
}
.theme-dark .table-body[border] .datas .hand [class*=col-xs-] {
  border-right: 0;
  line-height: 2rem;
  height: 2rem;
  padding: 0;
}
.theme-dark .table-body[border] .datas .hand span {
  padding: 0;
  border: 0;
}
.theme-dark .table-body[stripe] .datas .row:nth-child(2n) {
  background: rgba(0, 162, 255, 0.2);
}
.theme-dark .table-body[stripe] .datas .row:hover {
  background: rgba(0, 162, 255, 0.2);
  transition: 0.2s ease-in-out;
}
.theme-dark .table-body.text-center .datas-columns [class*=col-xs-] {
  text-align: center;
  padding-left: 0;
}
.theme-dark .table-body.text-center .datas-columns .maxwidth60 {
  padding-left: 0;
}
.theme-dark .table-body.text-center .datas .row [class*=col-xs-] {
  text-align: center;
  padding-left: 0;
}
.theme-dark .table-body.text-center .datas .row .maxwidth60 {
  padding-left: 0;
}
.theme-dark .table-body[no-index] .row.datas-columns {
  padding-left: 0;
}
.theme-dark .table-body[no-index] .datas .row {
  padding-left: 0;
}
.theme-dark .float-dialog-holder .table-body {
  padding: 0;
}
.theme-dark .table-body .datas-columns[center] {
  text-align: center;
}
.theme-dark .table-body .datas-columns[center] [class*=col-xs-] {
  padding-left: 0;
}
.theme-dark .tableScrollRow {
  overflow: auto;
  padding: 0 !important;
  border-right: 2px solid #0f479b;
  border-left: 2px solid #0f479b;
}
.theme-dark ::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #0b3b84;
  option: 0.4;
}
.theme-dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: #a8c6ef;
  border-radius: 1px;
  display: none;
}
.theme-dark .cover-container .modal-container-wrap {
  box-shadow: -4px 2px 20px 0 #0a387d, 0 6px 2px 0 rgba(10, 56, 125, 0.78);
}
.theme-dark .form-control[disabled],
.theme-dark .form-control[readonly],
.theme-dark fieldset[disabled] .form-control {
  background-color: #0b3b84;
}
.theme-dark .norecordmsg {
  color: #a8c6ef;
}
.theme-dark .highlight {
  background: linear-gradient(90deg, rgba(0, 161, 255, 0.72156863) 0%, rgba(0, 161, 255, 0.32156863) 100%) !important;
}
.theme-dark .form-info {
  color: #a8c6ef;
}
.theme-dark .tabHolder .tab-nav {
  border-color: #00a1ff;
}
.theme-dark .tabHolder .tab-nav-item:hover {
  color: #00ffff;
}
.theme-dark .split-input-wrapper .items .item {
  background: #5e95ff;
  color: #fff;
}
.theme-dark .split-input-wrapper .items .item .fa-remove {
  -webkit-text-stroke: 0 #00a1ff;
}
.theme-dark .numcounter-wrapper > .num,
.theme-dark .numcounter-wrapper > .minus,
.theme-dark .numcounter-wrapper > .plus {
  border-color: #00a1ff;
  color: #a8c6ef;
  background: #0b3b84;
}
.theme-dark .numcounter-wrapper > .minus {
  height: 2.625rem;
}
.theme-dark .numcounter-wrapper > .plus {
  height: 2.625rem;
}
.theme-dark .dropdown-menu {
  background: #0b3b84;
}
.theme-dark .dropdown-menu li a {
  color: #a8c6ef;
}
.theme-dark .dropdown-menu li a:focus {
  color: #a8c6ef;
}
.theme-dark .dropdown-menu li a:hover {
  color: #fff;
  background-color: #0f479b;
}
.theme-dark .table-bordered {
  border-color: #00a1ff;
}
.theme-dark .menutable tr {
  background: #0b3b84;
  color: #00a1ff;
}
.theme-dark .table-hover tbody tr:hover {
  background-color: #0f479b;
  color: #a8c6ef;
}
.theme-dark .table-bordered > tbody > tr > td,
.theme-dark .table-bordered > tbody > tr > th,
.theme-dark .table-bordered > tfoot > tr > td,
.theme-dark .table-bordered > tfoot > tr > th,
.theme-dark .table-bordered > thead > tr > td,
.theme-dark .table-bordered > thead > tr > th {
  border-color: #00a1ff;
}
.theme-dark .form-body > .footer {
  background: #081f58;
}
.theme-dark .right_top {
  background-color: #0b3b84;
  border: 1px solid #00a1ff;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  position: relative;
  padding: 0;
}
.theme-dark .right_top .right-box span {
  color: #a8c6ef;
  display: block;
  padding: 0.625rem;
}
.theme-dark .right_top .right-box span:hover {
  color: #fff;
  background: #5e95ff;
}
.theme-dark .app-detail {
  background: #0b3b84;
  color: #a8c6ef;
}
.theme-dark .header {
  color: #a8c6ef;
}
.theme-dark blockquote,
.theme-dark strong,
.theme-dark p,
.theme-dark ol,
.theme-dark li {
  color: #a8c6ef;
}
.theme-dark [border-left]:after {
  background: #0b3b84;
}
.theme-dark [border-right]:after {
  background: #0b3b84;
}
.theme-dark .skin-background {
  background: #0b3b84;
}
.theme-dark .skin-background:hover {
  box-shadow: -0.3125rem -0.3125rem 0.3125rem #0b3b84, 0.3125rem 0.3125rem 0.3125rem #0b3b84;
}
.theme-dark .skin-background:hover .release-label {
  background: #fdbc03;
}
.theme-dark .skin-background .release-label {
  background: #0b3b84;
}
.theme-dark .skin-background .release-label:hover {
  background: #fdbc03;
}
.theme-dark .background-e0 {
  background: #0b3b84;
}
.theme-dark .background-f3 {
  background: rgba(0, 162, 255, 0.2);
}
.theme-dark .background-f3 input[type="checkbox"]:checked + .checkmark:before {
  content: "";
  position: absolute;
  left: 0 ;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0f479b;
  color: #a8c6ef;
}
.theme-dark .background-f3 input[type="checkbox"]:checked ~ .check-title {
  color: #a8c6ef;
}
.theme-dark .background-f3 input[type="checkbox"]:checked ~ .check-msg {
  color: #a8c6ef;
}
.theme-dark pre {
  background: transparent;
  color: #a8c6ef;
}
.theme-dark [data-type=border] {
  border: 1px solid #00a1ff;
}
.theme-dark .codepre {
  background: #0b3b84;
  border-color: #00a1ff;
}
.theme-dark .codepre ul {
  border-color: #00a1ff;
}
.theme-dark .codepre ul li {
  background: #0b3b84;
}
.theme-dark .codepre h4 {
  border-color: #00a1ff;
}
.theme-dark .codepre .code-control span {
  background: #081f58;
}
.theme-dark .codepre .code-desc {
  border-bottom: 1px solid #00a1ff;
}
.theme-dark .ctrl-btn {
  cursor: pointer;
  width: 1.375rem;
  height: 0.5rem;
  background: #a8c6ef;
  display: block;
  margin: 0 0.625rem 0 0;
}
.theme-dark .ctrl-ban-active {
  background: #00ffff;
}
.theme-dark .color-fff {
  color: #fff;
}
.theme-dark .table-body .datas [border-top] {
  border-top: 1px solid #00a1ff;
  border-bottom: 0 !important;
}
.theme-dark .table-body .datas [border-top]:last-child {
  border-bottom: 1px solid #00a1ff !important;
}
.theme-dark .table-body .datas [border-top]:first-child {
  border-top: 0;
}
.theme-dark .res-arrow {
  color: #fff;
  border-top: 0;
  bottom: 2rem !important;
  left: 0.625rem;
  z-index: 4;
  padding-right: 0 !important;
}
.theme-dark .res-arrow i {
  text-align: center !important;
}
.theme-dark .res-arrow:hover {
  background: transparent;
  transition: background 0.3s;
}
.theme-dark .table-skin li > div:hover {
  background: #0f479b;
  transition: 0.5s ease-in-out;
}

.theme-dark .guides-default {
  display: block;
  padding-left: 1.25rem;
}
.theme-dark .guides-default:hover {
  color: #a8c6ef;
}
.theme-dark .guides-active {
  background: linear-gradient(90deg, #00a1ff 0%, #00ddff 100%);
  transition: all 0.1s linear;
  position: relative;
  color: #fff;
}
.theme-dark .guides-active:hover {
  color: #fff;
}
.theme-dark .m-dropdown-wrapper .selected {
  background: #0b3b84;
}
.theme-dark .items-input-wrapper > .items > .item {
  background: #0b3b84;
}
.theme-dark .editable-table-wrapper > .header-row {
  background: #0b3b84;
}
.theme-dark .editable-table-wrapper > .editable-row:hover:hover {
  background: #0f479b;
}
.theme-dark .editable-table-wrapper > .footer-row {
  background: #0b3b84;
}
.theme-dark .editable-table-wrapper > .footer-row .newRowBtn {
  -webkit-text-stroke: 0.25rem #a8c6ef;
}
.theme-dark .m-dropdown-wrapper ul {
  background: #0b3b84;
  border-color: #00a1ff;
}
.theme-dark .m-dropdown-wrapper ul li {
  color: #a8c6ef;
}
:root {
  --theme-f2: #00a1ff;
  --them-e9: #00a1ff;
  --theme-ff: #a8c6ef;
  --theme-fb: #0b3b84;
  --theme-238: #a8c6ef;
  --theme-dc: #00a1ff;
  --theme-eb: #0f479b;
}
/*# sourceMappingURL=dark.css.map */