ol,
ul {
  margin-bottom: 0;
  list-style: none;
}
.color {
  color: #1663f1;
}
.color-f3 {
  color: #FD5353;
}
.color-ff {
  color: #fff;
}
.color-33 {
  color: #263a4f;
}
.background-ff {
  background: #fff;
}
.background-none {
  background: #fff;
}
.box-shadow {
  box-shadow: -0.3125rem -0.3125rem 0.3125rem rgba(0, 0, 0, 0.05), 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.05);
}
.split {
  overflow: inherit;
}
.maxwidth40 {
  max-width: 2.5rem;
}
.maxwidth60 {
  max-width: 3.75rem;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
.box-shadow-input {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
}
.box-shadow-date {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.border {
  border: 1px solid #dcdfe6;
}
.border-radius {
  border-radius: 4px;
}
.border-right {
  border-right: 1px solid #eee;
}
.background-e0 {
  background: #e0e5ed;
}
button {
  outline: none;
  font-size: 1.125rem;
}
.btn {
  min-width: 5rem;
  padding: 0.625rem 0.9375rem 0.625rem;
  font-size: 1rem;
  height: 2.75rem;
  background: transparent;
  box-sizing: border-box;
  line-height: 100%;
}
/*
*小型按钮
*/
[data-type=default] {
  color: #263a4f;
}
[data-type=default]:hover {
  color: rgba(72, 76, 127, 0.8);
}
[data-type=info] {
  color: #263a4f;
}
[data-type=info]:hover {
  color: rgba(72, 76, 127, 0.8);
}
[data-type=primary] {
  color: #1663f1;
}
[data-type=primary]:hover {
  color: rgba(22, 99, 241, 0.7);
}
[data-type=warning] {
  color: #e6a23c;
}
[data-type=warning]:hover {
  color: rgba(230, 162, 60, 0.71);
}
[data-type=danger] {
  color: #FD5353;
}
[data-type=danger]:hover {
  color: #f78989;
}
[data-type=success] {
  color: #09BD3C;
}
[data-type=success]:hover {
  color: #85ce61;
}
[data-type=disable] {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: transparent;
  border-color: #e4e7ed;
  position: relative;
}
[data-type=disable] .fa {
  color: #c0c4cc;
  cursor: unset;
  background-image: none;
}
[data-type=primary][normal] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][normal]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][normal][round] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][normal][round]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain]:hover {
  color: #fff;
  background: #1663f1;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain][round]:hover {
  color: #fff;
  background: #1663f1;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][plain] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][plain]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][plain][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][plain][round]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][normal] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][normal]:hover {
  color: #1663f1;
  background: #ecf5ff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=default][normal][round] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][normal][round]:hover {
  color: #1663f1;
  background: #ecf5ff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][normal] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 4px;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][normal]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][normal][round] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 20px;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][normal][round]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][plain] {
  color: #606266;
  border: 1px solid #606266;
  border-radius: 4px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=info][plain]:hover {
  color: #606266;
  background: #f5f7fa;
  border: 1px solid #606266;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][plain][round] {
  color: #606266;
  border: 1px solid #606266;
  border-radius: 20px;
  background: #ecf5ff;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=primary][plain][round]:hover {
  color: #606266;
  background: #f5f7fa;
  border: 1px solid #606266;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][normal] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 4px;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][normal]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][normal][round] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 20px;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][normal][round]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][plain] {
  color: #e6a23c;
  border: 1px solid #e6a23c;
  border-radius: 4px;
  background: #fdf6ec;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][plain]:hover {
  color: #fff;
  background: #e6a23c;
  border: 1px solid #e6a23c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][plain][round] {
  color: #e6a23c;
  border: 1px solid #e6a23c;
  border-radius: 20px;
  background: #fdf6ec;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=warning][plain][round]:hover {
  color: #fff;
  background: #e6a23c;
  border: 1px solid #e6a23c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][normal] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][normal]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][normal][round] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 20px;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][normal][round]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][plain] {
  color: #FD5353;
  border: 1px solid #FD5353;
  border-radius: 4px;
  background: #fef0f0;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][plain]:hover {
  color: #fff;
  background: #FD5353;
  border: 1px solid #FD5353;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][plain][round] {
  color: #FD5353;
  border: 1px solid #FD5353;
  border-radius: 20px;
  background: #fef0f0;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=danger][plain][round]:hover {
  color: #fff;
  background: #FD5353;
  border: 1px solid #FD5353;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][normal] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 4px;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][normal]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][normal][round] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 20px;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][normal][round]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][plain] {
  color: #09BD3C;
  border: 1px solid #09BD3C;
  border-radius: 4px;
  background: #f0f9eb;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][plain]:hover {
  color: #fff;
  background: #09BD3C;
  border: 1px solid #09BD3C;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][plain][round] {
  color: #09BD3C;
  border: 1px solid #09BD3C;
  border-radius: 20px;
  background: #f0f9eb;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=success][plain][round]:hover {
  color: #fff;
  background: #09BD3C;
  border: 1px solid #09BD3C;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=disabled][normal],
[data-type=disabled][plain] {
  display: inline-block;
  font-size: 0.75rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #c0c4cc;
  border: 1px solid #e4e7ed;
  border-radius: 0.25rem;
  padding: 0.5rem 0.3125rem;
  background: #f5f7fa;
  cursor: unset;
  position: relative;
  transition: 0.3s ease-in-out;
}
[data-type=default][circle] {
  color: #1663f1;
  border: 1px solid #1663f1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=default][circle]:hover {
  color: #1663f1;
  background: #fff;
  border: 1px solid #1663f1;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=primary][circle] {
  color: #fff;
  border: 1px solid #1663f1;
  border-radius: 50%;
  background: #1663f1;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=primary][circle]:hover {
  color: #fff;
  background: rgba(22, 99, 241, 0.7);
  border: 1px solid #66b1ff;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=info][circle] {
  color: #fff;
  border: 1px solid #606266;
  border-radius: 50%;
  background: #606266;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=info][circle]:hover {
  color: #fff;
  background: #717579;
  border: 1px solid #717579;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=warning][circle] {
  color: #fff;
  border: 1px solid #e6a23c;
  border-radius: 50%;
  background: #e6a23c;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=warning][circle]:hover {
  color: #fff;
  background: #ebb563;
  border: 1px solid #ebb563;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=danger][circle] {
  color: #fff;
  border: 1px solid #FD5353;
  border-radius: 50%;
  background: #FD5353;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=danger][circle]:hover {
  color: #fff;
  background: #f78989;
  border: 1px solid #f78989;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
[data-type=success][circle] {
  color: #fff;
  border: 1px solid #09BD3C;
  border-radius: 50%;
  background: #09BD3C;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
}
[data-type=success][circle]:hover {
  color: #fff;
  background: #85ce61;
  border: 1px solid #85ce61;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.btn-group .btn {
  min-width: 2.25rem;
  border: 1px solid #eee !important;
  height: 2.5rem;
  line-height: 1.25rem;
}
.background-theme1 {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 a {
  color: #263a4f;
}
.theme-s6 .background-logo {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .header_control {
  color: #fff;
}
.theme-s6 .background-header {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .background-header .account-menu {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  box-shadow: -5px 2px 5px #333, 5px 5px 10px #000;
}
.theme-s6 .background-header .header_info a {
  color: rgba(255, 255, 255, 0.8) !important;
}
.theme-s6 .background-header .header_info a i {
  color: #fff !important;
}
.theme-s6 .background-header .header_info a:hover {
  background: rgba(72, 76, 127, 0.4) !important;
  box-shadow: -1px 2px 10px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.theme-s6 .background-header .header_info a:hover i {
  color: #fff !important;
}
.theme-s6 .background-header .nav-active {
  background: rgba(72, 76, 127, 0.4) !important;
  box-shadow: -1px 2px 10px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.theme-s6 .background-header .nav-list {
  display: flex;
  /* float: left; */
  grid-row-gap: 1.25rem;
  align-items: center;
  grid-auto-flow: column;
}
.theme-s6 .background-header .nav-list li {
  text-align: center;
  font-size: 1.125rem;
  cursor: pointer;
}
.theme-s6 .background-header .nav-list li:hover {
  background: rgba(72, 76, 127, 0.4);
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s linear;
}
.theme-s6 .msgHolder {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .stackmenu-cell {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px 0 5px rgba(0, 0, 0, 0.1);
}
.theme-s6 .stackmenu-cell .fa-classic,
.theme-s6 .stackmenu-cell .fa-light,
.theme-s6 .stackmenu-cell .fa-regular,
.theme-s6 .stackmenu-cell .fa-solid,
.theme-s6 .stackmenu-cell .fa-thin,
.theme-s6 .stackmenu-cell .fal,
.theme-s6 .stackmenu-cell .far,
.theme-s6 .stackmenu-cell .fas,
.theme-s6 .stackmenu-cell .fat {
  color: #fff;
}
.theme-s6 .stackmenu-cell .stackmenuHolder {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  height: 100%;
}
.theme-s6 .header_nav .header_nav_inner .nav-item:hover {
  color: #263a4f !important;
  border: 1px solid #263a4f !important;
}
.theme-s6 .header_nav .header_nav_inner .nav-item .nav-close {
  color: #263a4f;
}
.theme-s6 .header_nav .header_nav_inner .nav-item .nav-title {
  color: #263a4f;
}
.theme-s6 .header_nav .header_nav_inner .nav-item.selected {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .header_nav .header_nav_inner .nav-item.selected .nav-title {
  color: #fff;
}
.theme-s6 .header_nav .header_nav_inner .nav-item.selected:hover {
  color: #fff !important;
  border: 1px solid #263a4f !important;
}
.theme-s6 .header_nav .header_nav_inner .nav-item.selected .nav-close {
  color: #fff !important;
}
.theme-s6 .record-view {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .operation-icons a {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .stackmenu {
  color: #fff;
}
.theme-s6 .stackmenu .branch {
  padding: 0.75rem 0 0.75rem 1rem;
  border-left: 0;
}
.theme-s6 .stackmenu .branch:hover {
  border-left-color: inherit;
}
.theme-s6 .stackmenu .branch:hover .menu-label {
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .stackmenu .leaf {
  padding: 0.75rem 0 0.75rem 1rem;
  border-left: 0;
}
.theme-s6 .stackmenu .leaf:hover .menu-label {
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .stackmenu .leaf-selected {
  background: rgba(0, 0, 0, 0.2);
  border-left-color: inherit;
  font-weight: bold;
  box-shadow: inherit;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .stackmenu .leaf-selected:hover {
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .stackmenu .branch-selected {
  background: rgba(0, 47, 62, 0.1);
  position: relative;
  box-shadow: -5px 2px 5px #333, 5px 5px 10px #000;
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .stackmenu .branch-selected:hover {
  color: rgba(255, 255, 255, 0.8);
}
.theme-s6 .calendar .chosen-date {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .calendar .footer span:hover {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .cover-container .cover-header {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .btn:hover {
  border: 1px solid rgba(72, 76, 127, 0.8);
  color: #002f3e;
  background-color: rgba(0, 0, 0, 0.1);
}
.theme-s6 .btn-primary {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
  border: 1px solid rgba(0, 47, 62, 0.1);
}
.theme-s6 .btn-primary:hover {
  color: #fff;
}
.theme-s6 .paginationControl .control .pageIndexBtn.pageIndexBtnCurrent {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  opacity: 1;
}
.theme-s6 .paginationControl .btn-info:hover {
  color: #002f3e;
}
.theme-s6 .paginationControl .redirectPageBtn {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.theme-s6 .paginationControl .redirectPageBtn:hover {
  color: #fff;
}
.theme-s6 .paginationControl .totalPageDis,
.theme-s6 .paginationControl .totalAmountDis {
  color: #002f3e;
}
.theme-s6 [data-bg=tab] {
  background: #f5f7fa;
  border: 1px solid #ebecf0;
}
.theme-s6 [data-bg=tab] .tab-active:before {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .calendar-month,
.theme-s6 .calendar-content {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 [data-type=primary] {
  color: rgba(72, 76, 127, 0.8);
}
.theme-s6 [data-type=primary]:hover {
  color: #002f3e;
}
.theme-s6 [data-type=primary][plain] {
  color: #002f3e;
  border: 1px solid #002f3e;
  border-radius: 4px;
  background: rgba(0, 47, 62, 0.1);
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-s6 [data-type=primary][plain]:hover {
  color: #fff;
  background: #002f3e;
  border: 1px solid #002f3e;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-s6 [data-type=primary][normal] {
  color: #fff;
  border: 1px solid #002f3e;
  border-radius: 4px;
  background: #002f3e;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-s6 [data-type=primary][normal]:hover {
  color: #fff;
  background: rgba(72, 76, 127, 0.8);
  border: 1px solid #002f3e;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-s6 [data-type=default][plain],
.theme-s6 [data-type=default][normal] {
  color: #002f3e;
  border: 1px solid #002f3e;
  border-radius: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-s6 [data-type=default][plain]:hover,
.theme-s6 [data-type=default][normal]:hover {
  color: #002f3e;
  background: rgba(0, 47, 62, 0.1);
  border: 1px solid #002f3e;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-s6 [data-type=default][plain][round],
.theme-s6 [data-type=default][normal][round] {
  color: #002f3e;
  border: 1px solid #002f3e;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
.theme-s6 [data-type=default][plain][round]:hover,
.theme-s6 [data-type=default][normal][round]:hover {
  color: #002f3e;
  background: rgba(0, 47, 62, 0.1);
  border: 1px solid #002f3e;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -0.3125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.theme-s6 .header_nav_wrap .shift-left:hover {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .header_nav_wrap .shift-right:hover {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .form-control:focus {
  border: 1px solid #002f3e;
}
.theme-s6 .shift-left .shift-month .duty-group {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .pitchon {
  background: #f5f7fa;
}
.theme-s6 .pitchon span {
  color: #002f3e !important;
}
.theme-s6 .tree .branch-selected {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.theme-s6 .tree .branch-selected:hover .node-item {
  color: #fff;
}
.theme-s6 .tree .branch-selected .menu-label {
  color: #fff;
}
.theme-s6 .tree .branch {
  border-left-color: #002f3e;
}
.theme-s6 .tree .branch:hover {
  color: #002f3e;
  border-left-color: #002f3e;
}
.theme-s6 .tree .branch:hover.menu-label {
  color: #002f3e;
}
.theme-s6 .tree .pad .branch {
  background: #fafafa;
  color: #002f3e;
}
.theme-s6 .tree .pad .branch .menu-label {
  color: #002f3e;
}
.theme-s6 .tree .menu-node .actived-node .pad .branch {
  background: #fafafa;
  color: #263a4f;
}
.theme-s6 .tree .menu-node .actived-node .pad .branch .menu-label {
  color: #002f3e;
}
.theme-s6 .tree .leaf:hover {
  color: #002f3e;
  border-left-color: #002f3e;
}
.theme-s6 .tree .leaf:hover .menu-label {
  color: #002f3e;
}
.theme-s6 .tree .actived-node .leaf {
  color: #002f3e;
}
.theme-s6 .tree .actived-node .leaf .pad .menu-label {
  color: #002f3e;
}
.theme-s6 input[type="checkbox"]:checked::before {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
  border: 1px solid #002f3e;
}
.theme-s6 input[type="checkbox"].selectAll:checked::before {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.theme-s6 .switch-wrapper .switch-actived {
  border-color: #002f3e;
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .active {
  color: #002f3e !important;
}
.theme-s6 .radio-wrapper .radio-item .radio-input.checked {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  border: 1px solid #002f3e;
}
.theme-s6 .fa-remove {
  -webkit-text-stroke: inherit;
}
.theme-s6 .fa-window-maximize {
  -webkit-text-stroke: inherit;
}
.theme-s6 .fa-window-restore {
  -webkit-text-stroke: inherit;
}
.theme-s6 .skin.content {
  background: #fff;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.theme-s6 .skin.content::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.theme-s6 .skin.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: #002f3e;
  border-radius: 1px;
  display: none;
}
.theme-s6 .skin.content::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: #002f3e;
}
.theme-s6 .skin.content::-webkit-scrollbar-button {
  background-color: #ffffff;
}
.theme-s6 .skin.content::-webkit-scrollbar-corner {
  background: #ffffff;
}
.theme-s6 .skin.content::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.theme-s6 .staContainer .staTitle {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .leftmenu {
  background: url("/images/theme/bg4.png") no-repeat center !important;
  background-size: cover !important;
}
.theme-s6 .dropdown-wrapper input[type="text"]:hover {
  border-color: #002f3e;
}
.theme-s6 .dropdown-wrapper ul li.selected {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.theme-s6 .dropdown-wrapper ul li:hover {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .dropdown-wrapper ul li:hover .label-txt {
  color: white;
}
.theme-s6 .show-message {
  background: #002f3e;
  padding: 0.625rem 1.25rem;
  border: 1px solid #f5f7fa;
  border-radius: 5px;
  color: #fff;
  position: relative;
  font-size: 1rem;
  line-height: 1.375rem;
  pointer-events: none;
  max-width: 100%;
  box-shadow: -0.3125rem -0.3125rem 0.3125rem rgba(0, 0, 0, 0.05), 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.05);
}
.theme-s6 .show-message:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-top: 0.625rem solid #002f3e;
  position: absolute;
  bottom: -0.5rem;
  z-index: 999;
  left: 0.1875rem;
}
.theme-s6 .checkbox-wrapper .checkbox-item .checkbox-input.checked {
  background: #002f3e;
  border: 1px solid #002f3e;
}
.theme-s6 .palette-block .palette-item:hover {
  background: #002f3e;
}
.theme-s6 .data-block-wrapper .block-control {
  background: #002f3e;
}
.theme-s6 .data-block-wrapper .editable:hover {
  border: 1px dashed #002f3e;
}
.theme-s6 .data-block-wrapper.actived {
  outline: 2px solid #002f3e;
}
.theme-s6 .data-block-ctrl .form-btn {
  background: #002f3e;
  border: 1px solid #002f3e;
}
.theme-s6 .data-block-ctrl .form-btn:hover {
  background: rgba(0, 47, 62, 0.1);
}
.theme-s6 .links-block label:hover {
  color: #002f3e;
}
.theme-s6 .card-left {
  background: #002f3e;
}
.theme-s6 ::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #002f3e;
  option: 0.4;
}
.theme-s6 .btn-info.disabled.focus,
.theme-s6 .btn-info.disabled:focus,
.theme-s6 .btn-info.disabled:hover,
.theme-s6 .btn-info[disabled].focus,
.theme-s6 .btn-info[disabled]:focus,
.theme-s6 .btn-info[disabled]:hover,
.theme-s6 fieldset[disabled] .btn-info.focus,
.theme-s6 fieldset[disabled] .btn-info:focus,
.theme-s6 fieldset[disabled] .btn-info:hover {
  background-color: #002f3e;
  border-color: rgba(0, 47, 62, 0.1);
  color: #fff;
}
.theme-s6 .floatmsg-container > .header {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
}
.theme-s6 .tabHolder .tab-nav-active {
  color: #002f3e;
}
.theme-s6 .tabHolder .tab-nav-active:before {
  background: #002f3e;
}
.theme-s6 .tabHolder .tab-nav-item:hover {
  color: #002f3e;
}
.theme-s6 [border-left]:after {
  background: #002f3e;
}
.theme-s6 [border-right]:after {
  background: #002f3e;
}
.theme-s6 .res-arrow {
  color: #fff;
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  border-top: 1px solid rgba(0, 47, 62, 0.1);
}
.theme-s6 .res-arrow:hover {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0.625rem #707475;
  transition: box-shadow 0.3s;
}
.theme-s6 ::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}
.theme-s6 .background-f3 {
  background: #f5f7fa;
}
.theme-s6 .background-f3 input[type="checkbox"]:checked + .checkmark:before {
  content: "";
  position: absolute;
  left: 0 ;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.theme-s6 .background-f3 input[type="checkbox"]:checked ~ .check-title {
  color: #fff;
}
.theme-s6 .background-f3 input[type="checkbox"]:checked ~ .check-msg {
  color: #fff;
}
.theme-s6 .ctrl-btn {
  cursor: pointer;
  width: 1.375rem;
  height: 0.5rem;
  background: #002f3e;
  display: block;
  margin: 0 0.625rem 0 0;
}
.theme-s6 .ctrl-ban-active {
  background: rgba(0, 47, 62, 0.1);
}
.theme-s6 .guides-default {
  display: block;
  padding-left: 1.25rem;
}
.theme-s6 .guides-default:hover {
  color: #002f3e;
}
.theme-s6 .guides-active {
  background: url("/images/theme/bg4.png") no-repeat center;
  background-size: cover;
  transition: all 0.1s linear;
  position: relative;
  color: #fff;
}
.theme-s6 .guides-active:hover {
  color: #fff;
}
/*# sourceMappingURL=skin6.css.map */